<h1>To Do List</h1>

<app-todo (onNewTodo)="processTodo($event)"></app-todo>

<div>
    <table border="1">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody *ngFor="let todo of todo; let idx = index">
            <tr *ngFor="let i of todo.tasks">
                <td>
                    {{ i.description }}
                </td>
                <td>
                    {{ i.priority }}
                </td>
                <td>
                    <button (click)="deleteItem(idx)">X</button>
                  </td>
            </tr>
        </tbody>
    </table>
</div>